* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    color: white;

}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar {
    width: 8px;


}

::-webkit-scrollbar-track {
    
    border: 5px solid transparent;

}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
    transition: 1s;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
    
}

/* UTILITY  */

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.j-center {
    justify-content: center;
}

.align-center {
    align-content: center;
    align-items: center;
}


.space-evenly {
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.relative {
    position: relative;
}


/* gap  */
.gxy1 {
    gap: 1rem;
}

.gxy {
    gap: .5rem;
}

/* padding  */
.pt1 {
    padding-top: 1rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.pl {
    padding-left: .3rem;
}

.pl1 {
    padding-left: 1rem;
}

.plhalf1 {
    padding-left: .5em;
}


/* margin  */

.mr1 {
    margin-right: 1rem;
}

.mr {
    margin-right: 1.5rem;
}

.ml1 {
    margin-left: 1rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mb {
    margin-bottom: .5rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

/* text  */

.t-grey {
    color: var(--grey);
}

.text-center {
    text-align: center;
}

.small-text {
    font-size: .7rem;
}

.smaller-text {
    font-size: .8rem;
}

.upper-text {
    text-transform: uppercase;
}

/* Color styles */
:root {
    --dark: rgba(0, 0, 0, 1);
    --quite-dark: rgba(20, 25, 34, 1);
    --dark-grey: rgba(40, 40, 40, 1);
    --grey: rgba(193, 193, 193, 1);
    --accent: rgba(173, 255, 47, 1);
}

/* main  */
main {
    width: 100%;
    height: calc(100% - 80px);

    overflow: hidden;
}


.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--quite-dark);
    overflow-y: auto;
}

#call-to-action {
    position: fixed;
    top: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.btn {
    border: 1px solid white;
    padding: .7rem 2rem;
    border-radius: 2rem;
    transform: scale(.8);
    transition: .5s;
}

.btn:hover {
    transform: scale(1);
}

/* main section */

.main-section {
    margin-top: 80px;
}

.main-section a {
    color: var(--grey);
}

.main-section li {
    position: relative;
    padding-bottom: .2rem;
}

.accent {
    width: 30px;
    border: 1px solid var(--accent);
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    display: none;
}

.main-section li:hover .accent {
    display: block;
}

.main-section a:hover {
    color: white;
}

.album {
    width: calc(100% / 6);

}


.hover-element::after {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border-left: 2px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .5s;
}

.hover-element:hover::after {
    opacity: 1;
}


#created-for .album {
    max-width: 195px;
}

#most-popular img {
    border-radius: 50%;
}

#most-popular .hover-element::after {

    border-radius: 50%;
}

/* left nav  */

.logo {
    width: 70%;
    padding: 1rem;
}

.logo-small {
    display: none;
    margin: 0 auto;
    margin-top: 1rem;
}

#logo-small {
    filter: invert(.3);
}

.main-nav {
    width: 230px;
    height: 100%;
    min-height: 480px;
    background-color: var(--dark);
    overflow: hidden;
}



.options img {
    width: 25px;
    filter: invert(.3)
}

.options a {
    color: var(--grey);

}

.opt:hover img,
.opt:hover p,
.list-title:hover i {
    filter: invert(0);
    color: white;
}


.lists {
    height: 90%;
    overflow: hidden;
}

.lists a:hover {
    color: white;
}

.container-bott {
    height: 80px;
    background-color: var(--dark);
}

.container-top {
    height: calc(100% - 80px);
    overflow: hidden;
}

.lists ul {
    height: 50%;
    overflow-y: auto;
}



.opt {
    padding-left: .8rem;
    border-left: .2rem solid transparent;
}

.opt:hover {
    border-left: .2rem solid var(--accent);

}

.playlist {
    height: 90%;
    overflow: hidden;
}


.playlist a {
    color: var(--grey);
}

.playlist i {
    font-size: 3rem;
}

.logo-small {
    width: 30px;
}

.download {
    width: 1.5rem;
}

.main-nav hr {
    width: 90%;
    border: 0;
    border-top: 1px solid var(--grey);
}


.img-profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}

/* playbar  */
#playbar {
    width: 100%;
    height: 80px;
    background-color: var(--dark-grey);
    padding: 5px 15px;
}

.song {
    width: 215px;
}

.vol {
    width: 15%;
}

.song-image {
    width: 30px;
}

.song-text span {
    padding-right: .3rem;
}

.song-icon {
    padding-left: 2rem;
    cursor: pointer;
}

.artist:hover {
    text-decoration: underline;
}

.player {
    width: 40%;
    height: 100%;
}



#playbar i:hover {
    color: white;
    cursor: pointer;
}

.fa-circle-play {
    transition: transform .5s;
}

.player .fa-circle-play:hover {
    transform: scale(1.2);
}

.vol i {
    padding-right: .8rem;
}

.slider {
    -webkit-appearance: none;
    background: grey;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 35%;
    background-repeat: no-repeat;


}

.slider:hover {
    background-image: linear-gradient(#adff2f, #adff2f);
    background-size: 35%;
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}



.slider:hover .slider::-webkit-slider-thumb {}

.hamburger {
    display: none;
}


/* MEDIA QUERIES  */

@media screen and (max-width: 992px) {
    .album {
        width: calc(100% / 4 - 1rem);
    }

    .albums {
        flex-wrap: wrap;
    }

    .nav-bar ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (max-width: 768px) {
    .album {
        width: calc(100% / 2 - 1rem);
    }

    .albums {
        flex-wrap: wrap;

    }
}





@media screen and (max-width: 576px) {
    .main-nav {
        width: 50px;

    }

    .main-content {
        width: calc(100% - 50px);
    }

    #call-to-action {
        width: calc(100% - 50px);
        justify-content: center;
    }

    .nav-bar li {
        margin-bottom: 1.5rem;
    }

    .main-nav p,
    .main-nav .playlist,
    .main-nav h4,
    .main-nav span,
    .main-nav hr,
    .main-nav .logo {
        display: none;
    }

    .options {
        text-align: center;
        margin-top: .8rem;
    }

    .logo-small {
        display: block;
    }

    .download {
        margin-bottom: .5rem;
    }

    .opt {
        padding-left: .6rem;
    }

    .vol {
        opacity: 0;
    }

    .hamburger {
        display: flex;
        align-items: center;
        color: var(--grey);
    }

    .hamburger:hover {
        color: white;
        cursor: pointer;
    }
}

@media screen  and (max-width: 412px) {
    .song-image {
        display: none;
    }

    .song {
        width: 110px;
        margin-top: .5rem;
        display: block;
    }

    .song-icon {
        padding: .3rem;
    }


}

@media screen and (max-height: 90px) {
    #call-to-action {
        display: none;
    }
}

